<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />
    <title>Прогноз погоды</title>
</head>
<body>

    <div class="d1">
      <form action="{{url_for('index')}}" method="post" class="form-search">
          <input type="text" placeholder="Искать здесь..." name="location" required>
          <button type="submit" value="\f002"></button>
      </form>
        <div class="search-container" id="suggestions">
            <div class="search-list">
                {% if hints %}
                    {% for hint in hints  %}
                        <a href="#">{{ hint['name'], hint['country']}}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <h1>{{loc[1]}}, {{loc[0]}}</h1>

    <div class="container">
        <div class="addit-cards">
            <div class="w_now">
                <div class="w_left">
                    <p>Сейчас</p>
                    <p>{{format_output.convert_temperature(meteo_data["current"]['temperature_2m'])}}</p>
                    <p>Ощущается как {{format_output.convert_temperature(meteo_data["current"]['apparent_temperature'])}}</p>
                </div>
                <div class="w_right">
                    <p>{{format_output.convert_cloud(meteo_data["current"]['cloud_cover'])}}</p>
                    <p>{{format_output.convert_preciption(meteo_data["current"]['rain'], meteo_data["current"]['snowfall'])}}</p>
                </div>
            </div>
            <div class="w_today">
                <div class="w_left">
                    <p>{{format_output.convert_date(meteo_data["today"]['time'])}}</p>
                    <p>
                    <p>Днем: {{format_output.convert_temperature(meteo_data["today"]['temperature_2m'].max())}}</p>
                    <p>Ночью: {{format_output.convert_temperature(meteo_data["today"]['temperature_2m'].min())}}</p>
                </div>
                <div class="w_right">
                    <p>{{format_output.convert_cloud(meteo_data["today"]['cloud_cover'].mean())}},</p>
                    <p>{{format_output.convert_preciption(meteo_data["today"]['rain'].max(), meteo_data["today"]['snowfall'].max())}}</p>
                </div>
            </div>
            <div class="w_tomorrow">
                <div class="w_left">
                    <p>{{format_output.convert_date(meteo_data["tomorrow"]['time'])}}</p>
                    <p>
                    <p>Днем: {{format_output.convert_temperature(meteo_data["tomorrow"]['temperature_2m'].max())}}</p>
                    <p>Ночью: {{format_output.convert_temperature(meteo_data["tomorrow"]['temperature_2m'].min())}}</p>
                </div>
                <div class="w_right">
                    <p>{{format_output.convert_cloud(meteo_data["tomorrow"]['cloud_cover'].mean())}},</p>
                    <p>{{format_output.convert_preciption(meteo_data["tomorrow"]['rain'].max(), meteo_data["tomorrow"]['snowfall'].max())}}</p>
                </div>
            </div>
        </div>
        <div class="main-card">
            <h2>Сейчас</h2>
            <h2 class="temperature">{{format_output.convert_temperature(meteo_data["current"]['temperature_2m']) }}</h2>
            <p>Ощущается как {{format_output.convert_temperature(meteo_data["current"]['apparent_temperature'])}} </p>
            <p>{{format_output.convert_cloud(meteo_data["current"]['cloud_cover'])}}, {{format_output.convert_preciption(meteo_data["current"]['rain'], meteo_data["current"]['snowfall'])}}</p>
            <div class="add-info">
                <div class="wind">
                    <p>Ветер</p>
                    <p><span>{{meteo_data["current"]['wind_speed_10m']}}</span> м/c</p>
                </div>
                <div class="pressure">
                    <p>Давление</p>
                    <p><span>{{(meteo_data["current"]['pressure_msl']*0.75)|round}}</span> мм.рт.ст.</p>
                </div>
                <div class="humidity">
                    <p>Влажность</p>
                    <p><span>{{meteo_data["current"]['relative_humidity_2m']}}</span> %</p>
                </div>
            </div>
        </div>
    </div>

    <script>

        let input = document.getElementsByName("location")[0];
        input.addEventListener("input", () => {
            var rqst = {"data": input.value,
                         "type": "search"};
            console.log("Данные:", rqst);
            send_data(rqst);
            });

        async function send_data(rqst) {
            let response = await fetch("/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json;charset=utf-8",
                    },
                    body: JSON.stringify(rqst)
                });
<!--                let result = await response.json()-->
                console.log(response);

    }


    </script>


</body>
</html>